/* header theme toggler */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
  margin-top: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
background-color: #1F2224;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-color: #585858;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.slider.round {
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.slider.round:before {
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}



/* modal styles */
.modal {
  margin: auto;

}

.modal-pop {
  background: #cc0023;
  border: 2px solid #585858;
  color: #000;
  border-radius: 5px;
  z-index: 3;
  margin: auto;
  overflow-y: scroll;
  overflow: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  min-height: 30%;
  min-width: 30%;
  transform: translate(-50%, -50%);
}
.modal-pop::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  opacity: 0.75;
}

.modal-close {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

/* General styles */
button {
  margin: 5px;
  background: #585858;
  color: #FFF;
  border-radius: 10%;
  border: 1px solid #000;
}

.falert {
  color: rgb(242, 255, 0);
}
.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.search {
  min-width: 222px;
  margin-bottom: 25px;
}

/* its spelled alot like delete, but aviods possible keywords */
.deletee {
  background: red;
  color:black;
}


/*color palet*/

.cone {
  background: #cc0023;
  color: pink;
  border: 2px solid greenyellow;

}

.ctwo {
  background: #fff;
  color: pink;
  border: 2px solid greenyellow;
}

.cthree {
  background: #000;
  color: pink;
  border: 2px solid greenyellow;
}

.cfour {
  background: #585858;
  color: pink;
  border: 2px solid greenyellow;
}




/**/